body {
	text-align: center;
	font-family: Helvetica;
    text-shadow: 5px 5px 10px #000000;
    color: white;
    background: url('bg.jpg');
    font-size: 20px;
}

#container {
	background-color: #0099FF;
	margin: 0 auto;
    height: 450px;
    width: 450px;
    box-shadow: 20px 20px 15px #000000;
    border: 2px solid #93E0FA;
}

.gameboard {
    width: 148px;
    height: 148px;
    float: left;
    border: 1px solid black;
    font-size: 130px;
    text-align: center;
}

.gameboard:hover {
	background-color: #FFFFFF;
    border: 1px outset #93E0FA;
    color: #0099FF;
    box-shadow: 15px 10px 10px #000000;
}

#left {
    float:left;
    padding: 30px 80px;
    font-size: 20px;
    text-align: left;
}

#scores{
    text-decoration: underline;
    font-weight: bold;
}

button {
    height: 30px;
    width: 120px;
    box-shadow: 15px 15px 15px #000000;
    background-color: #0099FF;
    color: #FFFFFF;
    border: 1px solid #000000;
    font-size: 13px;
}

#outcome{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}